* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
}

/* ---------- Activity 1: Navbar ---------- */
.main-nav {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 1em;
}

.main-nav > li {
  text-align: center;
}

/* ---------- Activity 2: Media Card ---------- */
.media-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.media-card__content > h3 {
  margin-top: 0;
}

@media screen and (min-width: 550px) {
  .media-card {
    flex-direction: row;
  }
  .media-card__image {
    flex: 0 1 250px;
  }
  .media-card__content {
    flex: 0 1 60ch;
  }
}

/* ---------- Activity 3: Gallery ---------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.gallery > * {
  flex: 1 1 460px;
}
